
header {
  height: 60px;
  background-color: #2e3a46;
}
header img {
  width: 50px;
  margin: 5px;
}
main {
  background-color: #1e2d3b;
  display: flex;
}
.my_card {
  border: 1px solid black;
  text-align: center;
  background-color: #2e3a46;
}
